h1, h2, h3, h4 {
  font-family: "Monda";
}

.add-to-box {
  margin: 10px;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  padding: 10px;
  display: inline-block;
}

p.availability {
  font-family: "Fjalla One";
  float: right;
}


.design-image-container {
  text-align: center;
}

.design-image {
  border-radius: 10px;
}

.swatch-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.item-li {
  width: 95%;
  padding: 5px;
}

.item-li:nth-child(even) {
  background-color: #eee;
}

.btn-edit {
  font-family: "Fjalla One";
  text-transform: uppercase;
  margin: 5px;
}

.box {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  padding-top: 2px;
}

.box-title {
  font-family: "Fjalla One";
  text-transform: uppercase;
}


.box-content h4 {
  font-family: "Fjalla One";
  text-transform: uppercase;
}

.box-info {
  text-align: left;
}

.required > em {
  color: red;
  margin: 2px;
}

.account-login h2 {
  font-family: "Fjalla One";
}

.tertiary-navigation {
}

.navigation-bar {
  text-align: left;
  margin: 0;
  padding: 0;
}

.navigation-bar li:hover {
  opacity: 1;
}

.navigation-bar li {
  font-family: Georgia;
  font-size: 1.0em;
  opacity: 0.7;
  margin: 5px;
  padding-right: 5px;
}


.tertiary-navigation li {
  list-style-type: none;
  display: inline-block;
}

.context-nav {
}

.context-nav li {
  list-style-type: none;
  display: inline-block;
}

.product-info {
  min-height: 400px;
}

.swatch {
  padding-top: 0;
  font-family: "Monda";
}

input {
  color: #000;
}

.product-image-container {
  text-align: center;
}

.item-header {
  font-family: "Monda";
}

.item_header > i {
  margin: 5px;
}

#item-container {
 position: fixed;
 top: 0;
 left: 0;
 font-family: "Monda";
 background-color: rgba(255,255,255,1);
 z-index: 8;
 text-align: left;
 border-width: 2px;
 border-color: #000;
 color: #000;
 border-style: solid;
 padding-top: 2px;
 width: 250px;
 list-style-type: none;
 border-radius: 5px;
 padding-bottom: 0px;
 border-color: #000;
 display: none;
}

.swatch-item {
  display: inline-block;
  margin: 0px;
  border-radius: 3px;
  width: 24px;
  height: 24px;
}

#checkoutSteps {
  list-style-type: none;
  text-align: left;
}

#messages_product_view {
}

.checkout-button-container {
  text-align: right;
  padding: 15px;
}

.cart-title {
  font-family: "Georgia";
}

#shopping-cart-table td {
  padding: 5px;
}

.totals {
  padding: 15px;
}

.totals button {
  margin: 15px;
}

.totals td {
  padding: 5px;
}

.cart-header-row {
  font-family: "Arial";
  text-transform: uppercase;
  border: 0;
  border-style: solid;
  border-width: 0px;
  border-color: #ccc;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #eee;
}

.checkout-types {
  list-style-type: none;
  display: inline-block;
}

.cart-header-row > th {
  font-size: 0.9em;
  padding: 5px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

.navbar {
  font-family: "Monda";
  text-transform: uppercase;
  font-size: 0.9em;
}

.nav > li > a {
  color: #000;
}

.preload {
  display: none;
}

.qty {
  color: #000;
}

.about-the-artist {
  font-family: "Georgia";
}

.product-image-container {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 0px;
  margin: 0;
}

.std {
  font-family: Georgia;
}

.options-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15px;
  border-radius: 10px;
}

.product-photo-container {
  padding: 0;
  position: relative;
  background-size: cover;
  min-height: 500px;
  margin: 0;
}

.product-photo-container > h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin: 20px;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
}

ul.messages {
  list-style-type: none;
}

.notice-msg {
  padding: 15px;
}

.product-info-box p {  
  font-family: Georgia, Serif;
}


.product-info-box h2 {  
  font-family: "Conv_FutuLt__", Sans-Serif;
  font-weight: normal;
}

/* h1, h2 {
  font-family: "Conv_FutuLt__", Sans-Serif;
}
*/

.brand-image {
  
}

.form-list {
  list-style-type: none;
}

.account-login,.account-create {
  text-align: left;
}

.cart {
  font-family: Georgia;
  text-align: left;
}

.cart h1 {
  font-family: Georgia;
}

#logo-img {
  margin: 10px;
}

#site-navigation > li {
  display: inline-block;
  font-family: Georgia, serif;
}

.options-container {
  min-height: 300px;
}

p.required {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
  font-family: "Monda";
  font-weight: bold;
  font-size: 0.8em;
  background-color: red;
}

.product-view p {
  overflow: hidden;
  font-family: Georgia;
  padding: 2px;
  margin: 2px;
}

.product-view h1 {
  font-size: 4em;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-family: "Fjalla One";
}

.product-view h2 {
  font-family: "Conv_FutuLt__", Sans-Serif;
  font-size: 2em;
  color: #000;
  text-transform: uppercase;
}

.pages > ol > li {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 2px;
  font-family: "Monda";
  text-align: center;
  margin: 2px;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
}

.current {
  border-width: 1px;
  border-color: #222;
  border-style: solid;
  background-color: #333;
  color: #fff;
}

.current > a {
  color: #fff;
}

.apparel-thumb {
  background-size: contain;
}

.item-thumb {
  max-height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: inline-block;
}

select {
  display: inline-block;
}

.shirt-product-name {
  font-size: 1.2em;
  text-align: center;
}

.footer-nav-links > li {
  list-style-type: none;
  text-align: left;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.content-page {
  text-align: left;
}

.page-title > h1 {
  font-family: "Fjalla One";
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  margin: 0;
  padding-top: 25px;
}

.review-span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-width: 2px;
  border-color: 2px;
  border-radius: 3px;
  padding: 5px;
  border-style: solid;

}

a {
    color: #000;
}

.options-container .price-box {

  font-family: Georgia;
  color: #fff;
  margin-top: 0;
  padding: 15px;
  font-size: 1.8em;

}

.category-list-item > .price-span > .price-box {
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  color: #000;
  padding: 5px;
  font-family: "Monda";
  margin: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.category-list-item {
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
}

.product-info {
  color: #000;
  position: relative;

  font-family: "Monda";
  font-family: Georgia;
  text-align: center;
}

.product-info a {
  color: #000;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
}


.product-options-bottom {
/*  border-radius: 5px;
  border-color: #999;
  border-width: 2px;
  border-style: solid;*/
  padding: 10px;
  color: #000;
  margin: 15px;
}

#product-options-wrapper {
/*  border-radius: 5px;
  color: #000;
  border-color: #999;
  border-width: 2px;
  border-style: solid;*/
  padding: 10px;
  margin: 15px;
}

dt > label {
  background-color: #222;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-family: "Monda";
  text-transform: uppercase;
}

a:hover {
  color: #000;
  opacity: 0.9;
  transition: opacity 1s;
  text-decoration: none;
}

.product-reviews {
  padding: 5px;
  border-radius: 5px;
  border-color: #222;
  border-width: 2px;
  text-transform: uppercase;
  font-family: "Monda";
  font-size: 0.9em;
  margin-right: 20px;
  border-style: solid;
  display: inline-block;
}

.product-shop {
  position: relative;
}

.more-views {
  color: #fff;
}


li.more-views-li {
  border-width: 1px;
  margin: 1px;
  border-color: #bbb;
  border-style: solid;
  background-color: #fff;
  display: inline-block;
}

.btn-cart {
  margin: 0;
  background: 0;
  border: 0;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.0em;
  background-color: #fff;
  color: #000;
  font-family: "Monda";
  font-weight: normal;
  text-transform: uppercase;  
  border-style: solid;
}

.btn-generic {
  margin: 0;
  background: 0;
  border: 0;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.0em;
  background-color: #fff;
  color: #000;
  font-family: "Monda";
  font-weight: normal;
  text-transform: uppercase;  
  border-style: solid;
}

.qty {
  width: 50px;
  color: #000;
}

.grouped-items-table {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  margin: 3px;
  padding: 3px;
}

.grouped-items-table td {
  padding: 5px;
  color: #000;
}

.grouped-items-table thead {
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

.subtitle {
  font-family: "Fjalla One";
  text-transform: uppercase;
  text-align: left;
  border: 0;
  border-style: solid;
  border-color: #000;
  width: 90%;
  border-bottom-width: 1px;
  padding-top: 10px;
}

.brand-list > li {
   opacity: 0.4;
}

.brand-list > li:hover {
  transition: 1s;
  opacity: 1;
}

.products-list {
  margin: 0;
  padding: 0;
}


.product-view {
  text-align: left;
}


.breadcrumb {
  margin: 10px;
  padding: 0;
  background: 0;
  text-align: left;
  color: #999;
  text-transform: uppercase;
  font-family: "Monda";

}

.breadcrumb > a {
  color: #999;
}

.promo > i {
  margin: 7px;
}

#site-navigation > li > a:hover {
  text-decoration:none;
  opacity: 1;
  transition: opacity 1s;
  color: #555;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 5px;
}

#site-navigation {
  z-index: 2;
  position: relative;
  margin-top: 5px; 
}

#site-navigation > li > a > i {
  margin: 5px;
}

#site-navigation > li > a {
  color: #000;
  padding: 4px;
  margin: 5px;
 padding-left: 10px;
  padding-right: 10px;
  font-weight: light;
  background-color: #fff;
}

.lorem {
  padding: 5px;
  color: #ccc;
  font-size: 1em;
  line-height: 1.1em;
}

#content {
}

.crumb-nav {
  text-align: left;
  padding: 3px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Monda";
  color: #aaa;
  border-color: #ccc;
  border-width: 1px;
}

.promo {
 color: #666;
 background-color: #fff;
 font-family: "Monda";
 font-weight: normal;
 letter-spacing: 0.2pt;
 display: inline-block;
}

.labelt {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1pt;
  font-family: "Monda";
}

.sample-color {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
}

.cart-button-container {
  margin: 0;
  text-align: right;
  z-index: 3;
  position: relative;
}

.product-image {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 300px;
  display: block;
}

.product-photo-box {
  border-width: 0px;
  border-color: #666;
  border-style: solid;
  padding: 0px;
  margin: 0px;
}

.product-description-title {
  font-family: "Fjalla One";
  color: #111;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: -2pt;
}

.vandal-points-blurb {
  font-family: "Nunito";
  border-color: #ccc;
  border-width: 1px;
  color: #000;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
}

.cart-row {
  text-align: right;
  margin: 5px;
}

.brand-logo {
  opacity: 1;
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  border-color: #000;
  border-width: 2px;
  border-style: solid;  
  width: 96px;
  margin-right: 10px;
}

.brand-logo > img {
  opacity: 0.9;
}

.brand-logo > img:hover {
  opacity: 1;
}



.product-title {
  border-color: #666;
  border-style: solid;
  border-width: 0;
  color: #000;
  font-size: 3.5em;
  letter-spacing: -2pt;
}

.stock-status {
  display: inline-block;
  text-transform: uppercase;
  border-color: #ccc;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background-color: #fff;
  color: #ccc;
  font-family: "Monda";
  padding: 8px;
  font-weight: bold;
}

.stock-status > i {
  margin: 5px;
}

.inverse-title {
  background-color: #000;
  color: #fff;
}

.presentation-row {
  margin-top: 38px;
  margin-bottom: 0px;
}

.apparel-container {
  margin: 0;
  margin-top: 20px; 
 border-color: #000;
  border-width: 0;
  border-top-width: 0px;
  border-style: solid;
  padding-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom-width: 35px;
}

h5 {
  text-align: right;
  font-size: 1.2em;
  letter-spacing: -0.5pt;
  font-family: "Fjalla One";
  font-weight: normal;
}

.signature {
  text-align: right;
}

h5 > strong {
  font-size: 1em;
  letter-spacing: -0.5pt;
  font-family: "Fjalla One";
  font-weight: normal;
  color: #222;
  margin-left: 10px;
}

.title {
  color: #000;
  letter-spacing: -2.1pt;
}

.title-text {
  margin: 0;
  font-family: "Monda";
  border-style: solid;
  border-color: #555;
  border-width: 0px;
  background-color: #fff;
  color: #333;
  font-size: 1.4em;
  font-weight: normal;
  padding: 0px;
  padding-left: 10px;
  text-transform: uppercase;
}

.nav-search {
  width: 75px;
  margin-right: 5px;
}

.logo {
  z-index: 3;
  width: 400px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: -20px -80px;
}

.square1, .square2, .square3, .square4, .square5 {

  background-color: #ccc;
  border-radius: 10px;

  width: 50px;
  height: 50px;

  color: #fff;
  font-size: 7.5em;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-family: "Arial";

  background-size: 220px auto;
  background-position: center;
  gravity: center;

}


.square5 {
  background-image: url('http://www.thelondonvandal.com/cdn/tools.jpg');
}

.square4 {
  background-image: url('http://www.thelondonvandal.com/cdn/run.jpg');
}

.square3 {
  background-image: url('http://www.thelondonvandal.com/cdn/shirt.jpg');
}

.square2 {
  background-image: url('http://www.thelondonvandal.com/cdn/dont_caught.jpg');
}

.square1 {
  background-image: url('http://www.thelondonvandal.com/cdn/the_original.jpg');
}

#credit {
  margin: 15px;
}

.sale-item {
  color: white;
  background-color: red;
  margin: 0;
  padding: 0;
  letter-spacing: 2pt;
}

.information-box > h2,h3,h4 {
}

.information-box {
  text-align: left;
  font-family: "Nunito";
  font-weight: light;
  padding: 20px;
}

.information-box > p {
    color: #222; 

}

header {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  border: 0;
  padding-top: 5px;
  border-top-width: 2px;
  border-color: #000;
  border-style: solid;
}

.b-container {
  text-align: left;
}

h4 {
  font-family: "Conv_FutuLt__", Sans-Serif;
}

.sub-nav > h2 {
  margin: 0;
  font-family: "Conv_FutuLt__", Sans-Serif;
  margin-bottom: 15px;
  font-weight: normal;
}

.taxonomy-link > strong > a {
  color: #000;
  font-weight: normal;
}

.taxonomy-link > a {
  font-family: Georgia;
}

.taxonomy-link > strong > a:hover {
  color: #000;
  text-decoration: none;
}

#brands > li > img {
  padding: 20px;
  margin: 20px;
}

.brand {
  padding: 5px;
}

#brand-list {
  list-style-type: none;
}

#brand-list > li {
  display: inline-block;
  padding: 15px;
}

#brand-list > li {
  opacity: 1;
}

#brand-list > li:hover {
  opacity: 1;
  transition: opacity 1s;
}

#brands > li > a {
  opacity: 0.6;
}

#brands > li > a:hover {
  opacity: 1;
  transition: opacity 1s;
}

#customer-shots > li {
  margin: 5px;
  margin-top: -5px;
  border-width: 2px;
  border-bottom-width: 3px;
  border-right-width: 3px;
  border-top-width: 5px;
  border-style: solid;
  border-color: #222;
  opacity: 1;
}

#logo {
  margin: 10px;
}

#swatch-modal {
  width: 60%;
}

.side-box {
  background-color: #eee;
}

#sale {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 2px;
  border-width: 1px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
  color: rgba(150, 0, 0, 1);
}

.can-count {

  background: url('http://www.thelondonvandal.com/cdn/splatter.png');
  width: 240px;
  height: 200px;
  background-position: 100px -110px;
  background-repeat: no-repeat;
  text-align: right;
  color: #fff;
  font-size: 2em;
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 15px;
  border-radius: 10px;
  font-family: "Fjalla One";

}

.current-count > small {
  display: block;
  font-size: 0.5em;
  letter-spacing: 1pt;
}

#myCarousel {
  margin: 0;
  padding: 0;
}

.carousel-container {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  padding: 0;
  overflow: hidden;
}

.carousel {
  width: 102%;
  height: 320px;
  margin: 0;
  overflow: hidden;
}

.item > .carousel-caption {
  top: 0;
  left: 0;
  position: absolute;
  height: 25px;
  text-align: right;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;

}

.item > .carousel-caption > p {
  font-size: 1em;
  letter-spacing: 0pt;
  font-weight: bold;
  color: #aaa;
  padding: 0;
  text-transform: Capitalize;
}

.item > .carousel-caption > p > a {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Monda";
  text-transform: uppercase;
  letter-spacing: -2pt;
  display: block;
}

.carousel-caption a {
    text-decoration: none;
    color: #fff; 
}

#graff {
  width: 320px; 
  height: 120px;
}

.review {
  border-radius: 10px;
  background-color: #eee;
  padding: 20px;
  margin: 20px;
}

.review-content {
  font-size: 2em;
}

.review-reviewer {
  font-size: 1em;
  color: #eee;
  text-align: right;
  display: block;
  width: 100%;
}

.customer-reviews {
 font-family: "Fjalla One";
  text-align: left;
  text-transform: uppercase;
  border: 0;
  border-color: #000;
  border-style: solid;
}

#swatch > h2 {
  padding-top: 0;
  margin-top: 10px;
  font-family: "Fjalla One";
  text-align: left;
  font-size: 2.0em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1.5pt;
  font-weight: normal;
  border: 0;
  border-bottom-width: 1px;
  border-color: #000;
  border-style: solid;
}

.modal-header {
  font-family: "Monda";
  font-size: 1em;
}

.main-container {  border: 0;

  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
}

.navigation ul {
  list-style-type: none
}

#navigation-header > li {
  margin: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.taxonomy-link {
  color: #000;
  background-color: #fff;
}

a.taxonomy-link:hover {
  color:#555;
}

#navigation > ul > li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Monda";
}

.logo-container {
  text-align: left;
}

#social-icons {
  text-align: center;
  margin: 5px;
}

.social-icons {
  margin: 10px;
  list-style-type: none;  
}

.social-icons > li {
  display: inline-block;
  margin: 5px;
  opacity: 0.3;
}

.social-icons > li:hover {
  opacity: 1;
  transition: opacity 1s;
}

.product-info, .product-photo {
}



.product-info > h2 {
  text-align: left;
  font-family: "Fjalla One";
  text-transform: uppercase;
  margin: 0;
}

.product-info p {
  text-align: left;
  font-family: "Monda";
  padding: 2px;
  margin: 2px;
}

.product-copy {
  text-align: left;
  font-size: 0.9em;
  font-family: "Monda";
}

.product-copy > p {
  padding: 2px;
}

.product-copy p {
  margin: 2px;
}

.primary-nav > li > strong {

  cursor: pointer;
/*  text-transform:uppercase; */
  font-family:Georgia,serif;
  font-size: 1em;
  font-weight: normal;
/*  font-family: "Monda";
  letter-spacing: -1pt;
*/

}

.primary-nav > li > strong > a {
  font-weight: normal;
}

.header {
}

header {
  text-align: center;
}

.primary-nav {
  z-index: 6;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #000;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  position: relative;
}

.primary-nav > li > a {
  background-color: #fff;
}

.primary-nav > li {
  border: 0;
  padding: 6px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

.primary-nav > li:hover {
  border-width: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: solid;
}

#sale {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.primary-nav > li > a {
  padding: 5px;
}

.primary-nav > li:hover {
  background-color: #fefefe;
}

.sub-nav {
  display: none;
  text-align: right;
}

.cart-header {
  font-family: "Monda";
  text-transform: uppercase;
  font-size: 1em;
}

 i {
 }

.vandal-points-container {
  padding-top: 5px;
  margin: 10px;
}

.cart-container {
  border-width: 1px;
  border-radius: 5px;
  border-color: #000;
  border-style: solid;
}

.vandal-points {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  margin: 3px;
  font-size: 0.9em;
  font-weight: bold;
}

#swatch {
  margin: 0;
  width: 100%;
  margin-left: 0;
  padding: 10px;
  padding-top: 0;
  background-color: #fff;
  border-width: 2px;
  border-top-width: 2px;
  border-style: solid;
  border-color: #666;
}

.footer-wrapper {
  background-color: #000;
  margin-top: 35px;
}

#footer-links > li > a {
  color: #fff;
  font-family: "Monda";
  text-transform: uppercase;
}

#footer-links > li {
  margin: 10px;
  text-align: left;
  list-style-type: none;
  display: inline-block;
}

.free-shipping {
  font-family: "Monda";
  font-weight: normal;
  letter-spacing: -2pt;
}

.page-title-container > h2 {
  text-align: left;
  font-family: "Monda";
  font-size: 1.2em;
  text-transform: uppercase;
  border-width: 2px;
  padding-left: 10px;
  z-index: 3;
  border-bottom-width: 2px;
  margin-left: 0;
  border-style: solid;
  border-color: #000;
  margin: 0;
  margin-top: -30px;
}

.page-title-container {
  z-index: 2;
  position: relative;
  background: #fff;
}

.sub-nav {
  z-index: 6;
  font-family: "Conv_FutuLt__", Sans-Serif;
  list-style-type: none;
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border-color: #777;
  border-style: solid;
  border-width: 1px;
  box-shadow: #555 1px 1px 1px 1px;
}

.sub-nav > h2 {
  text-transform: uppercase;
}

.sub-nav2 > li:hover {
  border: 0;
 border-left-width: 2px;
 border-color: #000;
 border-style: solid;
 background-color: #000;
 color: #fff;
}

.sub-nav > li {
  font-size: 1em;
  width: 100%;
  margin: 2px;
  padding: 2px;
  font-family: Georgia, Serif;
}

.sub-nav > li > a {
  width: 100%;
  color: #000;
  padding: 5px;
  text-decoration: none;
}

.sub-nav > li > a:hover {
}

.shirt-image > img {
  border-radius: 10px;
  border-color: #000;
  border-width: 3px;
  border-style: solid;
}

.shirt-image {
  padding: 15px;
}

.buy-button {
  position: absolute;
  top: 0;
  right: 100px;
  border-radius: 10px;
  font-family: "Monda";
  background-color: #fff;
  background: rgba(200, 0, 0, 1);
  letter-spacing: -1pt;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  text-shadow: #444 1px 1px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
}

.buy-button i {

  margin: 7px;

}

.shirt-image {
  height: 240px;
  background-position: center;
  display: inline-block;
  border-width: 0px;
  text-align: center;
  width: 200px;
  margin: 5px;
  height: 160px;
}

.shirt-text:hover {
  opacity: 1;
  background: rgba(0,0,0, 1);
  color: #fff;
}



.shirt-text {
  opacity: 0;
  height: 220px;
  text-align: center;
  position: absolute;
  font-family: "Fjalla One";
  font-size: 4em;
  line-height: 0.5em;
  bottom: 0;
  background: rgba(1, 1, 1, 0.05);
  color: #fff;
  color: #000;
}



.shirt-text > a {
  padding-top: 25px;
  color: #000;
  margin: 10px;
  text-shadow: #222 #222 2px 2px;
}

.shirt-text > a:hover {
  text-decoration: none;
  color: #fff;
}

#swatch {
  width: 90%;
}

#cart {
  position: fixed;
  top: -25px;
  left: -15px;
  background-color: #fff;
  border-width: 1px;
  border-color: #777;
  border-top-width: 10px;
  padding: 25px;
  padding-top: 0px;
  width: 200px;
  z-index: 4;
  border-radius: 10px;
  border-style: solid;
}

.sub-nav {
}

.current-count {
   padding: 15px;
   padding-top: 5px;
   display: block;
}

.white-background {
  background-color: #fff;
}

li.item {
  display: inline-block;
  text-align: center;
}

.products-grid {
  margin-bottom: 45px;
}

footer {
  margin: 0;
  padding: 0;
}

.product-name {
  text-transform: uppercase;
  color: #000;
  font-size: 0.8em;
}

.item h2 {
  text-transform: uppercase;
}

h3.product-name {
  font-size: 1.1em;
  text-transform: uppercase;
}

footer > ul > li {
  display: inline-block;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ccc;
  margin: 3px;
  border-style: solid;
  padding: 5px;
}

.std {
  color: #111;
}

h2 {
  font-family:'Conv_FutuLt__',Sans-Serif;
  font-weight: normal;
}

.new-item {
  padding: 5px;
}

.page-title > h2 {
  text-transform: uppercase;
  text-align: left;
  font-family:'Conv_FutuLt__',Sans-Serif;
  font-weight: normal;
  font-size: 2.3em;
}

.category-description {
  text-align: left;
}

.more-views-ul > li {
  display: inline-block;
}

#zoom_in {
  display: inline-block;
}

#zoom_out {
  display: inline-block;  
}

.item {
  position: relative;
}

.cart-price {
  text-align: center;
}


.product-grid-item {
  min-height: 500px;
}

.product-info {
  text-align: center;
  padding: 5px;
}

.product-listing-name {
  text-align: left;
}

.information-box {
  background: url('http://www.thelondonvandal.com/cdn/ship_out.jpg');
  min-height: 280px;
  background-size: cover;
  position: relative;
}

.free-shipping {
  padding: 10px;
  margin: 20px;
  bottom: 0;
  right: 0;
  width: 40%;
  color: #fff;
  line-height: 1.1em;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  position: absolute;
}

.brand-list > li {
  list-style-type: none;
  display: inline-block;
  margin: 4px;
}
